@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* *Integrado perfecto */
:root {
	--bg-black-900: #f2f2fc;
	--bg-black-100: #fdf9ff;
	--bg-black-50: #e8dfec;
	--text-black-900: #302e4d;
	--text-black-700: #504e70;
}

/* *Integrado perfecto */
body.dark {
	--bg-black-900: #151515;
	--bg-black-100: #222;
	--bg-black-50: #393939;
	--text-black-900: #fff;
	--text-black-700: #e9e9e9;
}

/* *Integrado perfecto */
html {
	font-size: 62.5%;
	/* box-sizing: border-box; */
}

/* *Integrado perfecto */
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* *Integrado perfecto */
body {
	line-height: 1.5;
	font-size: 16px;
	font-family: 'Poppins' sans-serif;
}

/* *Integrado perfecto */
* {
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}

/* *Integrado perfecto */
::before,
::after {
	box-sizing: border-box;
}

/* *Integrado perfecto */
ul {
	list-style: none;
}

/* *Integrado perfecto */
.section {
	background: var(--bg-black-900);
	min-height: 100vh;
	display: block;
	padding: 0 3rem;
	opacity: 1;
	position: fixed;
	left: 27rem;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.3s ease;
}

/* *Integrado perfecto */
.section.back-section {
	z-index: 1;
}

/* *Integrado perfecto */
.section.active {
	z-index: 2;
	opacity: 1;
	animation: slideSection 1s ease;
}
/* Animación del deslisamiento entre secciones */
/* *Integrado perfecto */
@keyframes slideSection {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0%);
	}
}

/* *Integrado perfecto */
.hidden {
	display: none !important;
}

/* *Integrado perfecto */
.padd-15 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

/* *Integrado perfecto */
.container {
	max-width: 110rem;
	width: 100%;
	margin: auto;
}

/* *Integrado perfecto */
.section .container {
	padding-top: 6rem;
	padding-bottom: 7rem;
}

/* *Integrado perfecto */
.section-title {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 6rem;
}

/* *Integrado perfecto */
.section-title h2 {
	font-size: 4rem;
	color: var(--text-black-900);
	font-weight: 700;
	position: relative;
}

/* *Integrado perfecto */
.section-title h2::before {
	content: '';
	height: 0.4rem;
	width: 5rem;
	background-color: var(--skin-color);
	position: absolute;
	top: 100%;
	left: 0;
}

/* *Integrado perfecto */
.section-title h2::after {
	content: '';
	height: 0.4rem;
	width: 2.5rem;
	background-color: var(--skin-color);
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 0.8rem;
}

/* *Integrado perfecto */
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	position: relative;
}

/* *Integrado perfecto */
.btn {
	font-size: 1.6rem;
	font-weight: 500;
	padding: 1.2rem 3.5rem;
	color: white;
	border-radius: 4rem;
	display: inline-block;
	white-space: nowrap;
	border: none;
	background: var(--skin-color);
	transition: all 0.3s ease;
}

/* *Integrado perfecto */
.btn:hover {
	transform: scale(1.05);
}

/* *Integrado perfecto */
.shadow-dark {
	box-shadow: 0 0 2rem rgba(48, 46, 77, 0.15);
}

/* aside */
/* *Integrado perfecto */
.aside {
	width: 27rem;
	background: var(--bg-black-100);
	position: fixed;
	left: 0;
	top: 0;
	padding: 3rem;
	height: 100%;
	border-right: 0.1rem solid var(--bg-black-50);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	transition: all 0.3s ease;
}

/* *Integrado perfecto */
.aside .logo {
	position: absolute;
	top: 5rem;
	font-size: 3rem;
	text-transform: capitalize;
}

/* *Integrado perfecto */
.aside .logo a {
	color: var(--text-black-900);
	font-weight: 700;
	padding: 1.5rem 2rem;
	font-size: 3rem;
	letter-spacing: 0.5rem;
	position: relative;
}

/* *Integrado perfecto */
.aside .logo a span {
	font-family: 'Clicker Script', cursive;
	font-size: 4rem;
}

/* *Integrado perfecto */
.aside .logo a::before {
	/* estilos del logo, las <randy> */
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-bottom: 0.5rem solid var(--skin-color);
	border-left: 0.5rem solid var(--skin-color);
	bottom: 0;
	left: 0;
}

/* *Integrado perfecto */
.aside .logo a::after {
	/* estilos del logo, las <randy> */
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-top: 0.5rem solid var(--skin-color);
	border-right: 0.5rem solid var(--skin-color);
	top: 0;
	right: 0;
}

/* * Integrado */
.aside .nav-toggler {
	height: 4rem;
	width: 4.5rem;
	border: 0.1rem solid var(--bg-black-50);
	cursor: pointer;
	position: fixed;
	left: 30rem;
	top: 2rem;
	border-radius: 0.5rem;
	background: var(--bg-black-100);
	display: none;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}

/* * Integrado */
.aside .nav-toggler span {
	height: 0.2rem;
	width: 1.8rem;
	background: var(--skin-color);
	display: inline-block;
	position: relative;
}

/* * Integrado */
.aside .nav-toggler.open span {
	background-color: transparent;
}

/* * Integrado */
.aside .nav-toggler span::before {
	content: '';
	height: 0.2rem;
	width: 1.8rem;
	background: var(--skin-color);
	position: absolute;
	top: -0.6rem;
	left: 0;
}

/* * Integrado */
.aside .nav-toggler.open span::before {
	transform: rotate(45deg);
	top: 0;
}

/* * Integrado */
.aside .nav-toggler span::after {
	content: '';
	height: 0.2rem;
	width: 1.8rem;
	background: var(--skin-color);
	position: absolute;
	top: 0.6rem;
	left: 0;
}

/* * Integrado */
.aside .nav-toggler.open span::after {
	transform: rotate(-45deg);
	top: 0;
}

/* * Integrado */
.aside .nav {
	margin-top: 5rem;
}

/* * Integrado */
.aside .nav li {
	margin-bottom: 2rem;
	display: block;
}

/* * Integrado */
.aside .nav li a {
	font-size: 1.6rem;
	font-weight: 600;
	display: block;
	border-bottom: 0.1rem solid var(--bg-black-50);
	color: var(--text-black-900);
	padding: 0.5rem 1.5rem;
}

/* * Integrado */
.aside .nav li a.active {
	color: var(--skin-color);
}

/* * Integrado */
.aside .nav li a i {
	margin-right: 1.5rem;
}

/* Home */
/* * Integrado */
.home {
	min-height: 100vh;
	display: flex;
	color: var(--text-black-900);
}

/* * Integrado */
.home .home-info {
	flex: 0 0 60%;
	max-width: 60%;
}

/* * Integrado */
h3.hello {
	font-size: 2.8rem;
	margin: 1.5rem 0;
}

/* * Integrado */
h3.hello span {
	font-family: 'clicker Script', cursive;
	font-size: 3rem;
	font-weight: 700;
	color: var(--skin-color);
}

/* * Integrado */
h3.my-profession {
	font-size: 3rem;
	margin: 1.5rem 0;
}

/* * Integrado */
.typing {
	color: var(--skin-color);
}

/* * Integrado */
.home-info p {
	margin-bottom: 7rem;
	font-size: 2rem;
	color: var(--text-black-700);
}

/* * Integrado */
.home .home-img {
	flex: 0 0 40%;
	max-width: 40%;
	text-align: center;
	position: relative;
}

/* * Integrado */
.home-img::after {
	content: '';
	position: absolute;
	height: 8rem;
	width: 8rem;
	border-bottom: 1rem solid var(--skin-color);
	border-right: 1rem solid var(--skin-color);
	right: 2rem;
	bottom: -4rem;
}

/* * Integrado */
.home-img::before {
	content: '';
	position: absolute;
	height: 8rem;
	width: 8rem;
	border-top: 1rem solid var(--skin-color);
	border-left: 1rem solid var(--skin-color);
	left: -2rem;
	top: -4rem;
}

/* * Integrado */
.home .home-img img {
	margin: auto;
	border-radius: 0.5rem;
	height: 40rem;
}

/* About */
/* * Integrado */
.about .about-content {
	flex: 0 0 100%;
	max-width: 100%;
}

/* * Integrado */
.about .about-content .about-text {
	flex: 0 0 100%;
	max-width: 100%;
}

/* * Integrado */
.about .about-content .about-text h3 {
	font-size: 2.4rem;
	margin-bottom: 1.5rem;
	font-weight: 700;
	color: var(--text-black-900);
}

/* * Integrado */
.about .about-content .about-text h3 span {
	color: var(--skin-color);
}

/* * Integrado */
.about .about-content .about-text p {
	font-size: 1.6rem;
	min-height: 2.5rem;
	color: var(--text-black-700);
}

/* * Integrado */
.about .about-content .personal-info {
	flex: 0 0 60%;
	max-width: 60%;
	margin-top: 4rem;
}

/* * Integrado */
.about .about-content .personal-info .info-item {
	flex: 0 0 50%;
	max-width: 50%;
}

/* * Integrado */
.about .about-content .personal-info .info-item p {
	font-weight: 600;
	padding: 1rem 0;
	font-size: 1.6rem;
	color: var(--text-black-900);
	border-bottom: 0.1rem solid var(--bg-black-50);
}

/* * Integrado */
.about .about-content .personal-info .info-item p span {
	font-weight: 400;
	color: var(--text-black-700);
	margin-left: 0.4rem;
	display: inline-block;
}

/* * Integrado */
.about .about-content .personal-info .buttons {
	margin: 3rem;
}

/* * Integrado */
.about .about-content .personal-info .buttons .btn {
	margin-top: 1rem;
}

/* * Integrado */
.about .about-content .skills {
	flex: 0 0 40%;
	max-width: 40%;
	margin-top: 4rem;
}

/* * Integrado */
.about .about-content .skills .skill-item {
	flex: 0 0 100%;
	max-width: 100%;
}

/* * Integrado */
.about .about-content .skills .skill-item h5 {
	line-height: 4rem;
	font-weight: 600;
	font-size: 1.6rem;
	color: var(--text-black-900);
	text-transform: capitalize;
}

/* * Integrado */
.about .about-content .skills .skill-item .progress {
	background-color: var(--bg-black-50);
	height: 0.7rem;
	border-radius: 0.4rem;
	width: 100%;
	position: relative;
}

/* * Integrado */
.about .about-content .skills .skill-item {
	margin-bottom: 2.5rem;
}

/* * Integrado */
.about .about-content .skills .skill-item .progress .progress-in {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	border-radius: 0.4rem;
	background-color: var(--skin-color);
}

/* * Integrado */
.about .about-content .skills .skill-item .skill-percent {
	position: absolute;
	right: 0;
	color: var(--text-black-900);
	top: -4rem;
	font-weight: 400;
	line-height: 4rem;
}

/* * Integrado */
.about .about-content .education,
.about .about-content .experience {
	flex: 0 0 50%;
	max-width: 50%;
	margin-top: 3rem;
}

/* * Integrado */
.about .about-content h3.title {
	font-size: 2.4rem;
	margin-bottom: 3rem;
	font-weight: 700;
	color: var(--text-black-900);
}

/* * Integrado */
.about .about-content .timeline-box {
	flex: 0 0 100%;
	max-width: 100%;
}

/* * Integrado */
.about .about-content .timeline {
	background-color: var(--bg-black-100);
	padding: 3rem 1.5rem;
	border: 0.1rem solid var(--bg-black-50);
	border-radius: 1rem;
	width: 100%;
	position: relative;
}

/* * Integrado */
.about .about-content .timeline .timeline-item {
	position: relative;
	padding-left: 3.7rem;
	padding-bottom: 5rem;
}

/* * Integrado */
.about .about-content .timeline .timeline-item:last-child {
	padding-bottom: 0;
}

/* * Integrado */
.about .about-content .timeline .timeline-item::before {
	content: '';
	width: 0.1rem;
	position: absolute;
	height: 100%;
	left: 0.7rem;
	top: 0;
	background-color: var(--skin-color);
}

/* * Integrado */
.about .about-content .timeline .circle-dot {
	position: absolute;
	left: 0;
	top: 0;
	height: 1.5rem;
	width: 1.5rem;
	border-radius: 50%;
	background-color: var(--skin-color);
}

/* * Integrado */
.about .about-content .timeline .timeline-date {
	font-weight: 400;
	font-size: 1.4rem;
	margin-bottom: 1.2rem;
	color: var(--text-black-700);
}

/* * Integrado */
.about .about-content .timeline .timeline-date .fa {
	margin-right: 0.5rem;
}

/* * Integrado */
.about .about-content .timeline .timeline-title {
	font-weight: 700;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
	text-transform: capitalize;
	color: var(--text-black-900);
}

/* * Integrado */
.about .about-content .timeline .timeline-text {
	line-height: 2.5rem;
	font-size: 1.6rem;
	text-align: justify;
	color: var(--text-black-700);
}

/* Service */
/* * Integrado */
.service .container {
	padding-bottom: 4rem;
}

/* * Integrado */
.service .service-item {
	margin-bottom: 3rem;
	flex: 0 0 33.33%;
	max-width: 33.33%;
}

/* * Integrado */
.service .service-item .service-item-inner {
	background-color: var(--bg-black-100);
	border: 0.1rem solid var(--bg-black-50);
	border-radius: 1rem;
	padding: 3rem 1.5rem;
	text-align: center;
	transition: all 0.3s ease;
}

/* * Integrado */
.service .service-item .service-item-inner:hover {
	box-shadow: 0 0 2rem rgba(48, 46, 77, 0.15);
}

/* * Integrado */
.service .service-item .service-item-inner .icon {
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	display: block;
	margin: 0 auto 3rem;
	text-align: center;
	transition: all 0.3s ease;
}

/* * Integrado */
.service .service-item .service-item-inner .icon .fa {
	font-size: 4rem;
	line-height: 6rem;
	color: var(--skin-color);
	transition: all0.3s ease;
}

/* * Integrado */
.service .service-item .service-item-inner:hover .icon {
	background: var(--skin-color);
}

/* * Integrado */
.service .service-item .service-item-inner:hover .icon .fa {
	font-size: 2.5rem;
	color: #fff;
}

/* * Integrado */
.service .service-item .service-item-inner h4 {
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
	color: var(--text-black-900);
	font-weight: 700;
	text-transform: capitalize;
}

/* * Integrado */
.service .service-item .service-item-inner p {
	font-size: 1.6rem;
	color: var(--text-black-700);
	line-height: 2.5rem;
}

/* portfolio */
/* * Integrado */
.portfolio .container {
	padding-bottom: 4rem;
}

/* * Integrado */
.portfolio .portfolio-heading {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 4rem;
}

/* * Integrado */
.portfolio .portfolio-heading h2 {
	color: var(--text-black-900);
	font-weight: 500;
}

/* * Integrado */
.portfolio .portfolio-item {
	flex: 0 0 33.33%;
	max-width: 33.33%;
	margin-bottom: 3rem;
}

/* * Integrado */
.portfolio .portfolio-item-inner {
	border: 0.6rem solid var(--bg-black-100);
	border-radius: 1rem;
	overflow: hidden;
	cursor: pointer;
}

/* * Integrado */
.portfolio .portfolio-item-inner .portfolio-img img {
	width: 100%;
	display: block;
}

/* Contact */
/* * Integrado */
.contact-title {
	color: var(--skin-color);
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

/* * Integrado */
.contact-sub-title {
	color: var(--text-black-900);
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 6rem;
}

/* * Integrado */
.contact .contact-info-item {
	flex: 0 0 25%;
	max-width: 25%;
	text-align: center;
	margin-bottom: 6rem;
}

/* * Integrado */
.contact .contact-info-item .icon {
	display: inline-block;
}

/* * Integrado */
.contact .contact-info-item .icon .fa {
	font-size: 2.5rem;
	color: var(--skin-color);
}

/* * Integrado */
.contact .contact-info-item h4 {
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--text-black-900);
	text-transform: capitalize;
	margin: 1.5rem 0 0.5rem;
}

/* * Integrado */
.contact .contact-info-item p {
	font-size: 1.6rem;
	line-height: 2.5rem;
	color: var(--text-black-700);
	font-weight: 400;
}

/* * Integrado */
.contact .contact-form {
	flex: 0 0 100%;
	max-width: 100%;
}

/* * Integrado */
.contact .contact-form .col-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

/* * Integrado */
.contact .contact-form .col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

/* * Integrado */
.contact .contact-form .form-item {
	margin-bottom: 3rem;
}

/* * Integrado */
.contact .contact-form .form-item .form-control {
	width: 100%;
	height: 5rem;
	border-radius: 2.5rem;
	background: var(--bg-black-100);
	border: 0.1rem solid var(--bg-black-50);
	padding: 1rem 2.5rem;
	font-size: 1.6rem;
	color: var(--text-black-700);
	transition: all 0.3s ease;
}

/* * Integrado */
.contact .contact-form .form-item .form-control:focus {
	box-shadow: 0 0 2rem rgba(48, 46, 77, 0.15);
}

/* * Integrado */
.contact .contact-form .form-item textarea.form-control {
	height: 14rem;
}

/* * Integrado */
.contact .contact-form .btn {
	height: 5rem;
	padding: 0 5rem;
}

/* * ALL RESPONSIVE IS Integrado */
/* Respinsive */
@media (max-width: 1199px) {
	.section .container {
		padding-top: 7rem;
	}

	.aside {
		left: -27rem;
	}

	.aside.open {
		left: 0;
	}

	.aside .nav-toggler {
		display: flex;
		left: 3rem;
	}

	.aside .nav-toggler.open {
		left: 30rem;
	}

	.section {
		left: 0;
	}

	.section.open {
		left: 27rem;
	}

	.about .about-content .personal-info .info-item p span {
		display: block;
		margin-left: 0;
	}
}

/* * Aquí se quita la imagen, editar después */
@media (max-width: 991px) {
	.contact .contact-info-item,
	.portfolio .portfolio-item,
	.service .service-item {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.home .home-info {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.home .home-img {
		display: none;
	}
}

@media (max-width: 767px) {
	.contact .contact-form .col-6,
	.contact .contact-info-item,
	.portfolio .portfolio-item,
	.service .service-item,
	.about .about-content .experience,
	.about .about-content .education,
	.about .about-content .skills,
	.about .about-content .personal-info {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
