@use 'base/variables' as v;

.aside {
	width: 27rem;
	background: var(--bg-black-100);
	position: fixed;
	left: 0;
	top: 0;
	padding: 3rem;
	height: 100%;
	border-right: 0.1rem solid var(--bg-black-50);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	transition: all 0.3s ease;

	.logo {
		position: absolute;
		top: 5rem;
		font-size: 3rem;
		text-transform: capitalize;

		a {
			color: var(--text-black-900);
			font-weight: 700;
			padding: 1.5rem 2rem;
			font-size: 3rem;
			letter-spacing: 0.2rem;
			position: relative;

			&::before {
				/* estilos del logo, las <randy> */
				content: '';
				position: absolute;
				width: 2rem;
				height: 2rem;
				border-bottom: 0.5rem solid var(--skin-color);
				border-left: 0.5rem solid var(--skin-color);
				bottom: 0;
				left: 0;
			}

			&::after {
				/* estilos del logo, las <randy> */
				content: '';
				position: absolute;
				width: 2rem;
				height: 2rem;
				border-top: 0.5rem solid var(--skin-color);
				border-right: 0.5rem solid var(--skin-color);
				top: 0;
				right: 0;
			}
		}

		span {
			font-family: 'Domine', serif;
			font-size: 4rem;
		}
	}

	.nav-toggler {
		height: 4rem;
		width: 4.5rem;
		border: 0.1rem solid var(--bg-black-50);
		cursor: pointer;
		position: fixed;
		left: 30rem;
		top: 2rem;
		border-radius: 0.5rem;
		background: var(--bg-black-100);
		display: none;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease;

		span {
			height: 0.2rem;
			width: 1.8rem;
			background: var(--skin-color);
			display: inline-block;
			position: relative;

			&::before {
				content: '';
				height: 0.2rem;
				width: 1.8rem;
				background: var(--skin-color);
				position: absolute;
				top: -0.6rem;
				left: 0;
			}

			&::after {
				content: '';
				height: 0.2rem;
				width: 1.8rem;
				background: var(--skin-color);
				position: absolute;
				top: 0.6rem;
				left: 0;
			}
		}

		&.open span {
			background-color: transparent;

			&::before {
				transform: rotate(45deg);
				top: 0;
			}

			&::after {
				transform: rotate(-45deg);
				top: 0;
			}
		}
	}

	.nav {
		position: fixed;
		top: auto;

		li {
			margin-bottom: 4rem;
			display: block;

			a {
				font-size: v.$normal;
				font-weight: 600;
				display: block;
				border-bottom: 0.1rem solid var(--bg-black-50);
				color: var(--text-black-900);
				padding: 0.5rem 1.5rem;

				&.active {
					color: var(--skin-color);
				}

				i {
					margin-right: 1.5rem;
				}
			}
		}
	}
}
