@media (max-width: 1199px) {
	.section {
		left: 0;

		.container {
			padding-top: 7rem;
		}

		&.open {
			left: 27rem;
		}
	}

	.aside {
		left: -27rem;

		&.open {
			left: 0;
		}

		.nav-toggler {
			display: flex;
			left: 3rem;

			&.open {
				left: 30rem;
			}
		}
	}

	.about .about-content .personal-info .info-item p span {
		display: block;
		margin-left: 0;
	}
}

@media (max-width: 991px) {
	.contact .contact-info-item,
	.portfolio .portfolio-item,
	.service .service-item {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.home {
		.home-info {
			flex: 0 0 100%;
			max-width: 100%;
		}

		.home-img {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.contact .contact-form .col-6,
	.contact .contact-info-item,
	.portfolio .portfolio-item,
	.service .service-item,
	.about .about-content .experience,
	.about .about-content .education,
	.about .about-content .skills,
	.about .about-content .personal-info {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
